<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name">EX+</h1>
    </div>
    <h3>Welcome to Shop eXpresso. Confirm please Your email, before working start.</h3>
    <a class="btn btn-primary" href="#/login">Go to login page</a> 
  </div>
</div>
