<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2 class="my-3">What is new</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#/dashboards/main-view">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>What is new</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="ibox-content inspinia-timeline">

    <div class="timeline-item">
      <div class="row">
        <div class="col-xs-3 date">
          <i class="fa fa-briefcase"></i> 6:00 am
          <br>
          <small class="text-navy">2 hour ago</small>
        </div>
        <div class="col-xs-7 content no-top-border">
          <p class="m-b-xs"><strong>Meeting</strong></p>

          <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products.
            Below please find the current status of the sale.
          </p>

          <p><span data-diameter="40" class="updating-chart" style="display: none;">10,2,4,5,4,10,6,6,5,7,5,6,6,9,7,3,1,10,2,7,4,8,6,6,3,1,6,4,1,6,9,8,8,9,8,1,4</span>
            <svg class="peity" height="16" width="64">
              <polygon fill="#1ab394" points="0 15 0 0.5 1.7777777777777777 12.5 3.5555555555555554 9.5 5.333333333333333 8 7.111111111111111 9.5 8.88888888888889 0.5 10.666666666666666 6.5 12.444444444444443 6.5 14.222222222222221 8 16 5 17.77777777777778 8 19.555555555555554 6.5 21.333333333333332 6.5 23.11111111111111 2 24.888888888888886 5 26.666666666666664 11 28.444444444444443 14 30.22222222222222 0.5 32 12.5 33.77777777777778 5 35.55555555555556 9.5 37.33333333333333 3.5 39.11111111111111 6.5 40.888888888888886 6.5 42.666666666666664 11 44.44444444444444 14 46.22222222222222 6.5 48 9.5 49.77777777777777 14 51.55555555555555 6.5 53.33333333333333 2 55.11111111111111 3.5 56.888888888888886 3.5 58.666666666666664 2 60.44444444444444 3.5 62.22222222222222 14 64 9.5 64 15"></polygon>
              <polyline fill="transparent" points="0 0.5 1.7777777777777777 12.5 3.5555555555555554 9.5 5.333333333333333 8 7.111111111111111 9.5 8.88888888888889 0.5 10.666666666666666 6.5 12.444444444444443 6.5 14.222222222222221 8 16 5 17.77777777777778 8 19.555555555555554 6.5 21.333333333333332 6.5 23.11111111111111 2 24.888888888888886 5 26.666666666666664 11 28.444444444444443 14 30.22222222222222 0.5 32 12.5 33.77777777777778 5 35.55555555555556 9.5 37.33333333333333 3.5 39.11111111111111 6.5 40.888888888888886 6.5 42.666666666666664 11 44.44444444444444 14 46.22222222222222 6.5 48 9.5 49.77777777777777 14 51.55555555555555 6.5 53.33333333333333 2 55.11111111111111 3.5 56.888888888888886 3.5 58.666666666666664 2 60.44444444444444 3.5 62.22222222222222 14 64 9.5"
                stroke="#169c81" stroke-width="1" stroke-linecap="square"></polyline>
            </svg>
          </p>
        </div>
      </div>
    </div>
    <div class="timeline-item">
      <div class="row">
        <div class="col-xs-3 date">
          <i class="fa fa-file-text"></i> 7:00 am
          <br>
          <small class="text-navy">3 hour ago</small>
        </div>
        <div class="col-xs-7 content">
          <p class="m-b-xs"><strong>Send documents to Mike</strong></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since.</p>
        </div>
      </div>
    </div>
    <div class="timeline-item">
      <div class="row">
        <div class="col-xs-3 date">
          <i class="fa fa-coffee"></i> 8:00 am
          <br>
        </div>
        <div class="col-xs-7 content">
          <p class="m-b-xs"><strong>Coffee Break</strong></p>
          <p>
            Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's.
          </p>
        </div>
      </div>
    </div>
    <div class="timeline-item">
      <div class="row">
        <div class="col-xs-3 date">
          <i class="fa fa-phone"></i> 11:00 am
          <br>
          <small class="text-navy">21 hour ago</small>
        </div>
        <div class="col-xs-7 content">
          <p class="m-b-xs"><strong>Phone with Jeronimo</strong></p>
          <p>
            Lorem Ipsum has been the industry's standard dummy text ever since.
          </p>
        </div>
      </div>
    </div>
    <div class="timeline-item">
      <div class="row">
        <div class="col-xs-3 date">
          <i class="fa fa-user-md"></i> 09:00 pm
          <br>
          <small>21 hour ago</small>
        </div>
        <div class="col-xs-7 content">
          <p class="m-b-xs"><strong>Go to the doctor dr Smith</strong></p>
          <p>
            Find some issue and go to doctor.
          </p>
        </div>
      </div>
    </div>
    <div class="timeline-item">
      <div class="row">
        <div class="col-xs-3 date">
          <i class="fa fa-comments"></i> 12:50 pm
          <br>
          <small class="text-navy">48 hour ago</small>
        </div>
        <div class="col-xs-7 content">
          <p class="m-b-xs"><strong>Chat with Monica and Sandra</strong></p>
          <p>
            Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
            (injected humour and the like).
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
