<!--alert dialog -->
<div id="congrat" class="modal fade" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Congratulations</h4>
      </div>
      <div class="modal-body">
        You subscribed!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
<!--end alert dialog-->
<div id="card-data" class="modal fade" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Subscribe</h4>
      </div>
      <div class="modal-body">
        <form action="" method="POST" id="payment-form">
          <span class="payment-message">{{message}}</span>
          <div class="form-row">
            <label>
              <span>Card Number</span>
              <input [(ngModel)]="cardNumber" name="card-number" type="text" size="20" data-stripe="number">
            </label>
          </div>
          <div class="form-row">
            <label>
              <span>Expiration (MM/YY)</span>
              <input [(ngModel)]="expiryMonth" name="expiry-month" type="text" size="2" data-stripe="exp_month">
            </label>
            <span> / </span>
            <input [(ngModel)]="expiryYear" name="expiry-year" type="text" size="2" data-stripe="exp_year">
          </div>
          <div class="form-row">
            <label>
              <span>CVC</span>
              <input [(ngModel)]="cvc" name="cvc" type="text" size="4" data-stripe="cvc">
            </label>
          </div>
          <div *ngIf="isStripeResponseWait">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
          </div>
          <div *ngIf="isCongrat">
            You subscribed!
          </div>
          <div *ngIf="stripeEror">
            {{stripeErrorMessage}}
          </div>
          <!--<input type="submit" value="Submit Payment">-->
        </form>
      </div>
      <div class="modal-footer">
        <!--data-dismiss="modal"-->
        <button type="button" class="btn btn-primary" (click)="createSubscription(plan)">Subscribe</button>
      </div>
    </div>
  </div>
</div>
<div class="container landing-page">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>App Pricing</h1>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 wow zoomIn animated" style="visibility: visible;">
      <ul class="pricing-plan list-unstyled">
        <li class="pricing-title">
          Basic
        </li>
        <li class="pricing-desc">
          Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta
          sensibus.
        </li>
        <li class="pricing-price">
          <span>$16</span> / month
        </li>
        <li>
          Dashboards
        </li>
        <li>
          Projects view
        </li>
        <li>
          Contacts
        </li>
        <li>
          Calendar
        </li>
        <li>
          AngularJs
        </li>
        <li>
          <a class="btn btn-primary btn-xs" href="#" data-toggle="modal" href="#card-data"
             (click)="plan='base'">Signup</a>
        </li>
      </ul>
    </div>

    <div class="col-lg-4 wow zoomIn animated" style="visibility: visible;">
      <ul class="pricing-plan list-unstyled selected">
        <li class="pricing-title">
          Standard
        </li>
        <li class="pricing-desc">
          Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta
          sensibus.
        </li>
        <li class="pricing-price">
          <span>$22</span> / month
        </li>
        <li>
          Dashboards
        </li>
        <li>
          Projects view
        </li>
        <li>
          Contacts
        </li>
        <li>
          Calendar
        </li>
        <li>
          AngularJs
        </li>
        <li>
          <strong>Support platform</strong>
        </li>
        <li class="plan-action">
          <a class="btn btn-primary btn-xs" href="#" data-toggle="modal" href="#card-data" (click)="plan='standart'">Signup</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 wow zoomIn animated" style="visibility: visible;">
      <ul class="pricing-plan list-unstyled">
        <li class="pricing-title">
          Premium
        </li>
        <li class="pricing-desc">
          Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta
          sensibus.
        </li>
        <li class="pricing-price">
          <span>$160</span> / month
        </li>
        <li>
          Dashboards
        </li>
        <li>
          Projects view
        </li>
        <li>
          Contacts
        </li>
        <li>
          Calendar
        </li>
        <li>
          AngularJs
        </li>
        <li>
          <a class="btn btn-primary btn-xs" href="#" data-toggle="modal" href="#card-data" (click)="plan='premium'">Signup</a>
        </li>
      </ul>
    </div>
  </div>
</div>
