<!-- Main view/routes wrapper-->
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2 class="my-3">Messages</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#/dashboards/main-view">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Messages</strong>
      </li>
    </ol>
  </div>
  <!--<div class="col-lg-2">
    <div class="text-center" style="float: right;margin-top: 30px;">
      <a data-toggle="modal" class="btn btn-primary" href="#create-form" (click)="onCreateDialogShow()">Create order</a>
    </div>
  </div>-->
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="row">
    <div class="col-lg-12">

      <div class="ibox chat-view">

        <!--<div class="ibox-title">
          <small class="pull-right text-muted">Last message:  Mon Jan 26 2015 - 18:39:23</small> Chat room panel
        </div>-->

        <div class="ibox-content">

          <div class="row">

            <div class="col-md-9 ">
              <div class="chat-discussion">

                <div class="chat-message left" *ngFor="let m of currentChat | async" [ngClass]="m.author===selfName ? 'right' : 'left'">
                  <img class="message-avatar" src="assets/images/profile_small.jpg" alt="">
                  <div class="message">
                    <a class="message-author"> {{m.author}} </a>
                    <span class="message-date"> {{m.date | date:'short'}} </span>
                    <span class="message-content">{{m.text}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <!--users list-->
              <div class="chat-users">
                <div class="users-list">
                  <div class="chat-user" *ngFor="let u of users | async">
                    <!--<span class="pull-right label label-primary">Online</span>-->
                    <img class="chat-avatar" src="assets/images/profile_small.jpg" alt="">
                    <div class="chat-user-name">
                      <!--href="#" -->
                      <a (click)="onChangeChatUser(u.$key)">{{u.name}}</a>
                    </div>
                  </div>
                </div>
              </div>
              <!--end user list-->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="chat-message-form">
                <div class="form-group">
                  <textarea [(ngModel)]="message" class="form-control message-input" name="message" placeholder="Enter message text"
                  (keyup.enter)="onSendChatMessage(message);message=''"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
