 FULLCALENDAR

.fc-state-default {
    background-color: #ffffff;
    background-image: none;
    background-repeat: repeat-x;
    box-shadow: none;
    color: #333333;
    text-shadow: none;
}
.fc-state-default {
    border: 1px solid;
}

.fc-button {
    color: inherit;
    border: 1px solid #E7EAEC ;
    cursor: pointer;
    display: inline-block;
    height: 1.9em;
    line-height: 1.9em;
    overflow: hidden;
    padding: 0 0.6em;
    position: relative;
    white-space: nowrap;
}
.fc-state-active {
    background-color: #1AB394;
    border-color: #1AB394;
    color: #ffffff;
}

.fc-header-title h2 {
    font-size: 16px;
    font-weight: 600;
    color: inherit;
}

.fc-content .fc-widget-header, .fc-content .fc-widget-content {
    border-color: #E7EAEC;
    font-weight: normal;
}

.fc-widget-content {
    overflow-y:auto
}

.fc-border-separate tbody {
    background-color: #F8F8F8;
}

.fc-state-highlight {
    background: none repeat scroll 0 0 #FCF8E3;
}

.external-event {
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 5px;
}

.fc-ltr .fc-event-hori.fc-event-end, .fc-rtl .fc-event-hori.fc-event-start {
    border-radius: 2px;
    border-color: none;
    background-color: darkslategray;
}
.fc-event,
.fc-agenda .fc-event-time,
.fc-event a {
    padding: 4px 6px;
    background-color: #1AB394;
    border-color: #1AB394;
    color: inherit;
}

.fc-event-time, .fc-event-title {
    color: #717171;
    padding: 0 1px;
}

.act-user{
  background-color: #f8ac59;
}
