<div id="warning" class="modal fade" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        You use the trial version. For activation this function You have to subscribe.
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="#/preferences/subscription" onclick="$('#warning').modal('toggle');">Go to
          subscription</a>
      </div>
    </div>
  </div>
</div>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2 class="my-3">Calendar</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#/dashboards/main-view">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Calendar</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
    <!-- (click)="onCreateDialogShow()"-->
    <div class="text-center" style="float: right;margin-top: 30px;">
      <a data-toggle="modal" class="btn btn-primary" [href]="dsblCtrlBtns?'#warning':'#new-event'"
         (click)="newEventForm.resetForm();isNewClient=false;editMode=false;startSelected=false;">New Rendezvous</a>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="row animated fadeInDown">
    <div class="col-lg-3">
      <div id="external-events">
        <p>Users</p>
        <div class="user-btn external-event navy-bg ui-draggable" style="position: relative;"
             (click)="updateCalendar(null);selUser =-2" [class.act-user]="-2 == selUser">
          <i class="fa fa-users" aria-hidden="true"></i> All
        </div>
        <div class="user-btn external-event navy-bg ui-draggable" style="position: relative;"
             (click)="updateCalendar(authServ.userInfo.name);selUser =-1" [class.act-user]="-1 == selUser">
          {{authServ.userInfo.name}}
        </div>
        <div *ngFor="let c of users | async;let i=index" class="user-btn external-event navy-bg ui-draggable"
             style="position: relative;"
             (click)="updateCalendar(c.name);selUser=i" [class.act-user]="i==selUser">
          {{c.name}}
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div id='calendar'></div>
    </div>
  </div>
</div>
<!-- New event  dialog -->
<div id="new-event" class="modal fade" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{!editMode?'New':'Edit'}} Rendezvous</h4>
      </div>
      <div class="modal-body">
        <form class="form-edit" #newEventForm="ngForm">
          <div class="col-sm-12">
            <div class="form-group">
              <button type="button" class="btn btn-primary" (click)="isNewClient = !isNewClient"> New Client</button>
            </div>
          </div>
          <div id="new-client" *ngIf="isNewClient">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Name</label>
                <input placehilder="Name" type="text" id="name" class="form-control" required minlength="4"
                       maxlength="24" pattern="^[a-zA-Z0-9]+$" name="name"
                       [(ngModel)]="newClientName" #name="ngModel">
                <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                  <div [hidden]="!name.errors.required">
                    Name is required
                  </div>
                  <div [hidden]="!name.errors.minlength">
                    Name must be at least 4 characters long.
                  </div>
                  <div [hidden]="!name.errors.maxlength">
                    Name cannot be more than 24 characters long.
                  </div>
                  <div [hidden]="!name.errors.pattern">
                    Name must contain leters and numbers only.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label class="control-label" for="email">Email</label>
                <input type="email" pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" id="email" #email="ngModel"
                       [(ngModel)]="newClientMail"
                       name="email" placeholder="Email" class="form-control">
                <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                  <div [hidden]="!email.errors.pattern">
                    Format is incorrect
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
             class="form-group" *ngIf="!isNewClient">
            <label> Client:</label>
            <select [(ngModel)]="newEventModel.client" name="title" class="form-control">
              <option *ngFor="let c of clients | async" value="{{c.name}}">{{c.name}}</option>
            </select>
          </div>
          <div
             class="form-group" *ngIf="!isNewClient">
            <label> User:</label>
            <select [(ngModel)]="newEventModel.user" name="title" class="form-control">
              <option *ngFor="let u of users | async" value="{{u.name}}">{{u.name}}</option>
            </select>
          </div>
          <div
             class="form-group">
            <label> Description:</label>
            <input type="text"  class="form-control" [(ngModel)]="newEventModel.description" name="description"/>
          </div>
          <div
             class="form-group">
            <label> Start:</label>
            <!--<input type="datetime-local"  class="form-control" [(ngModel)]="newEventModel.start" name="start">-->
            <div class='input-group date' id='start-datetimepicker'>
              <input type='text' class="form-control"/>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
        </span>
            </div>
          </div>
          <div
             class="form-group" [hidden]="!startSelected">
            <label> End:</label>
            <!--<input type="datetime-local"  class="form-control" id="end" [(ngModel)]="newEventModel.end" name="end">-->
            <div class='input-group date' id='end-datetimepicker'>
              <input type='text' class="form-control"/>
              <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
      </span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delEvent(newEventForm)"
                *ngIf="editMode">Delete
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="addEvent(newEventForm)">Save
        </button>
      </div>
    </div>
  </div>
</div>
<!-- end new event dialog -->
