<div *ngIf="_value">
  <span *ngFor="let value of _value" 
      class="label label-default" (click)="removeValue(index)">
    {{value}} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </span>
  <!--<span> 
  | </span>
  <span style="display:inline-block;">
    <input [(ngModel)]="valueToAdd" style="width: 50px; font-size: 14px;" class="custom"/>
    <em class="glyphicon glyphicon-ok" aria-hidden="true" (click)="addValue(valueToAdd)"></em>
  </span>-->
</div>