<div class="wrapper wrapper-content">
  <!--stock alert-->
  <div id="message" *ngFor="let prod of stockAlertProducts">
    <div style="padding: 5px;">
      <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> The product "{{prod.name}}" ends.
        {{prod.quantity}}
        more left.
      </div>
    </div>
  </div>
  <!--end stock alert-->
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">All time</span>
          <h5>Total shops</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">{{totalShops}}</h1>
          <!--<div class="stat-percent font-bold text-success">{{incomePercent}}% <i class="fa fa-bolt"></i></div>-->
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-info pull-right">Monthly </span>
          <h5>New Shops</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">{{monthlyShops}}</h1>
          <!--<div class="stat-percent font-bold text-info">{{totalOrderPercent}}% <i class="fa fa-level-up"></i></div>-->
          <!--<small>New Shops</small>-->
        </div>
      </div>
    </div>
    <!--<div class="col-lg-3">-->
      <!--<div class="ibox float-e-margins">-->
        <!--<div class="ibox-title">-->
          <!--<span class="label label-primary pull-right">Monthly</span>-->
          <!--<h5>New clients</h5>-->
        <!--</div>-->
        <!--<div class="ibox-content">-->
          <!--<h1 class="no-margins">{{newClients}}</h1>-->
          <!--<div class="stat-percent font-bold text-navy">{{newClientsPercent}}<i class="fa fa-level-up"></i></div>-->
          <!--<small>New clients</small>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-danger pull-right">Monthly</span>
          <h5>Stripe income</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">{{monthlyIncome | async | currency:'USD':true}}</h1>
          <!--<div class="stat-percent font-bold text-danger">{{dailySalesPercent}}<i class="fa fa-level-down"></i></div>-->
        </div>
      </div>
    </div>
    <div class="col-lg-3">

    </div>
  </div>
  <!--shops table-->
  <!--<div class="input-group">-->
    <!--<input class="form-control input-sm" name="search" placeholder="Search shop" type="text" [(ngModel)]="searchShop">-->
    <!--<div class="input-group-btn">-->
      <!--<button class="btn btn-sm btn-primary" type="submit">Search</button>-->
    <!--</div>-->
  <!--</div>-->
  <!--end alert dialog-->
  <!--<table id="footable" class="table table-stripped toggle-arrow-tiny"-->
         <!--data-paging-size="20"-->
         <!--data-sorting="true"-->
         <!--data-paging="true"-->
         <!--data-filtering="true"-->
         <!--data-filter-delay="10"-->
  <!--&gt;-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th>Name</th>-->
      <!--<th>Manager</th>-->
      <!--<th data-type="number">Products</th>-->
      <!--<th data-type="number">Clients</th>-->
      <!--<th data-type="number">Orders</th>-->
      <!--&lt;!&ndash;<th data-hide="phone" class="text-right" >Actions</th>&ndash;&gt;-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let s of shops | async;let i=index">-->
      <!--<td>-->
        <!--{{s?.name}}-->
      <!--</td>-->
      <!--<td>-->
        <!--{{s?.manager?.name}}-->
      <!--</td>-->
      <!--<td>-->
        <!--{{countKeys(s?.products)}}-->
      <!--</td>-->
      <!--<td>-->
        <!--{{countKeys(s?.clients)}}-->
      <!--</td>-->
      <!--<td>-->
        <!--{{countKeys(s?.orders)}}-->
      <!--</td>-->
      <!--&lt;!&ndash;<td class="text-right">-->
        <!--<a data-toggle="modal" class="btn btn-danger" (click)="shopForDelete = s" href="#confirmation">Delete</a>-->
      <!--</td>&ndash;&gt;-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--<tfoot>-->
    <!--<tr>-->
      <!--<td colspan="6">-->
        <!--<ul class="pagination pull-right"></ul>-->
      <!--</td>-->
    <!--</tr>-->
    <!--</tfoot>-->
  <!--</table>-->
  <!--end shops table-->
  <div class="row">
  </div>
</div>
