<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2 class="my-3">Messages Page</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#/dashboards/main-view">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Messages Page</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">

  <div class="row">
    <div class="col-lg-12">
      <div class="tabs-container">
        <div class="tab-content">
          <div id="tab-3" class="tab-pane active">
            <div class="panel-body">

              <div class="message">
                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td class="alert alert-good">
                        Info: You're approaching your limit. Please upgrade.
                      </td>
                    </tr>
                    <tr>
                      <td class="content-wrap">
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td class="content-block">
                                You have <strong>1 free report</strong> remaining.
                              </td>
                            </tr>
                            <tr>
                              <td class="content-block">
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                                as opposed to using 'Content here, content here', making it look like readable English.
                              </td>
                            </tr>
                            <tr>
                              <td class="content-block">
                                Thanks for choosing Company Inc.
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="footer">
                  <table width="100%">
                    <tbody>
                      <tr>
                        <td class="aligncenter content-block"><a href="#">Unsubscribe</a> from these alerts.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
