<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2 class="my-3">Preferences Page</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#/dashboards/main-view">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Preferences Page</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">

  <div class="row">
    <div class="col-lg-12">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab-1"> Profil</a></li>
          <li class=""><a data-toggle="tab" href="#tab-2"> Payment accepted</a></li>
          <li class=""><a data-toggle="tab" href="#tab-3"> Messages</a></li>
        </ul>
        <div class="tab-content">
          <div id="tab-1" class="tab-pane active">
            <div class="panel-body">

              <fieldset class="form-horizontal">
                <div class="form-group"><label class="col-sm-2 control-label">User Name:</label>
                  <div class="col-sm-10"><input type="text" class="form-control" placeholder="User Name"></div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Email:</label>
                  <div class="col-sm-10"><input type="text" class="form-control" placeholder="Email"></div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Password:</label>
                  <div class="col-sm-10"><input type="text" class="form-control" placeholder="Password"></div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Store name:</label>
                  <div class="col-sm-10"><input type="text" class="form-control" placeholder="Store name"></div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Address:</label>
                  <div class="col-sm-10"><input type="text" class="form-control" placeholder="Address"></div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Country:</label>
                  <div class="col-sm-10"><input type="text" class="form-control" placeholder="Country"></div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">User status:</label>
                  <div class="col-sm-10"><input type="text" class="form-control" placeholder="User status"></div>
                </div>
              </fieldset>

            </div>
          </div>
          <div id="tab-2" class="tab-pane">
            <div class="panel-body">
              <H5>Opapapoapospospaopo</H5>
              <fieldset class="form-horizontal">
                <div class="row">
                  <div class="col-md-4">
                    <div class="payment-card">
                      <i class="fa fa-cc-visa payment-icon-big text-success"></i>
                      <h2>
                        **** **** **** 1060
                      </h2>
                      <div class="row">
                        <div class="col-sm-6">
                          <small>
                            <strong>Expiry date:</strong> 10/16
                          </small>
                        </div>
                        <div class="col-sm-6 text-right">
                          <small>
                            <strong>Name:</strong> David Williams
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="payment-card">
                      <i class="fa fa-cc-mastercard payment-icon-big text-warning"></i>
                      <h2>
                        **** **** **** 7002
                      </h2>
                      <div class="row">
                        <div class="col-sm-6">
                          <small>
                            <strong>Expiry date:</strong> 10/16
                          </small>
                        </div>
                        <div class="col-sm-6 text-right">
                          <small>
                            <strong>Name:</strong> Anna Smith
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--<div class="col-md-4">
                    <div class="payment-card">
                      <i class="fa fa-cc-discover payment-icon-big text-danger"></i>
                      <h2>
                        **** **** **** 3466
                      </h2>
                      <div class="row">
                        <div class="col-sm-6">
                          <small>
                            <strong>Expiry date:</strong> 10/16
                          </small>
                        </div>
                        <div class="col-sm-6 text-right">
                          <small>
                            <strong>Name:</strong> Morgan Stanch
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>-->

                </div>
              </fieldset>


            </div>
          </div>
          <div id="tab-3" class="tab-pane">
            <div class="panel-body">

              <div class="message">
                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td class="alert alert-good">
                        Info: You're approaching your limit. Please upgrade.
                      </td>
                    </tr>
                    <tr>
                      <td class="content-wrap">
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td class="content-block">
                                You have <strong>1 free report</strong> remaining.
                              </td>
                            </tr>
                            <tr>
                              <td class="content-block">
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                                as opposed to using 'Content here, content here', making it look like readable English.
                              </td>
                            </tr>
                            <tr>
                              <td class="content-block">
                                Thanks for choosing Company Inc.
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="footer">
                  <table width="100%">
                    <tbody>
                      <tr>
                        <td class="aligncenter content-block"><a href="#">Unsubscribe</a> from these alerts.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
