<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu nav-pills flex-column" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" dropdown>
          <img alt="image" class="img-circle" src="assets/images/profile_small.jpg">
          <a dropdownToggle>
            <span class="block m-t-xs"> <strong class="font-bold">{{user.name}}</strong> </span>
            <span class="text-muted text-xs block">{{role}} <b class="caret"></b> </span>
          </a>
          <ul class="animated fadeInRight dropdown-menu" *dropdownMenu>
            <li><a [routerLink]="['/preferences/profil']" class="nav-link" tyle="width: 100%">Profile</a></li>
            <!--<li><a href="#">Contacts</a></li>-->
            <!--<li><a href="#">Mailbox</a></li>-->
            <li class="divider"></li>
            <li><a href="#" (click)="logout()">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          IN+
        </div>
      </li>
      <li [ngClass]="{active: activeRoute('/dashboards/main-view')}" *ngIf="isCanSee('manager','seller','clients')">
        <a [routerLink]="['/dashboards/main-view']" class="nav-link" tyle="width: 100%"><i class="fa fa-diamond"></i> <span
          class="nav-label">Dashboard</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('clients')}" *ngIf="isCanSee('manager','seller','clients')">
        <a [routerLink]="['/clients']" class="nav-link"><i class="fa fa-diamond"></i> <span class="nav-label">Clients</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('orders')}" *ngIf="isCanSee('manager','seller','orders')">
        <a [routerLink]="['/orders']" class="nav-link"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Orders</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('products')}" *ngIf="isCanSee('manager','seller','products')">
        <a [routerLink]="['/products']" class="nav-link"><i class="fa fa-flask"></i> <span class="nav-label">Products</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('calendar')}" *ngIf="isCanSee('manager','seller','calendar')">
        <a [routerLink]="['/calendar']" class="nav-link"><i class="fa fa-flask"></i> <span class="nav-label">Calendar</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('whatisnew')}" *ngIf="isCanSee('manager','seller','whatisnew')">
        <a [routerLink]="['/whatisnew']" class="nav-link"><i class="fa fa-flask"></i> <span class="nav-label">What is new</span></a>
      </li>
      <!-- admin menu -->
      <li [ngClass]="{active: activeRoute('admindash')}" *ngIf="isCanSee('admin','admin-user','admindash')">
        <a [routerLink]="['/admindash']" class="nav-link"><i class="fa fa-flask"></i> <span class="nav-label">Dashboard</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('shops')}" *ngIf="isCanSee('admin','admin-user','shops')">
        <a [routerLink]="['/shops']" class="nav-link"><i class="fa fa-flask"></i> <span class="nav-label">Shops</span></a>
      </li>
      <!--<li [ngClass]="{active: activeRoute('adminmess')}" *ngIf="isCanSee('admin','admin-user','adminmess')">-->
        <!--<a [routerLink]="['/adminmess']"><i class="fa fa-flask"></i> <span class="nav-label">Messages</span></a>-->
      <!--</li>-->
      <!--<li [ngClass]="{active: activeRoute('adminmail')}" *ngIf="isCanSee('admin','admin-user','adminmail')">-->
        <!--<a [routerLink]="['/adminmail']"><i class="fa fa-flask"></i> <span class="nav-label">eMails</span></a>-->
      <!--</li>-->
      <!-- end admin menu -->
      <li [ngClass]="{active: activeRoute('preferences')}">
        <a href="#" class="nav-link"><i class="fa fa-edit"></i> <span class="nav-label">Preferences</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse flex-column" [ngClass]="{in: activeRoute('preferences')}">
          <!-- *ngIf="role=='admin'" -->
          <li [ngClass]="{active: activeRoute('users')}">
            <a [routerLink]="['/users']" class="nav-link"><span class="nav-label"
                                               *ngIf="isCanSee('admin','admin-user','users')">Users</span></a>
          </li>
          <li [ngClass]="{active: activeRoute('sellers')}" *ngIf="isCanSee('manager','seller','sellers')">
            <a [routerLink]="['/sellers']" class="nav-link"><span class="nav-label">Sellers</span></a>
          </li>
          <li [ngClass]="{active: activeRoute('profil')}"><a [routerLink]="['/preferences/profil']" class="nav-link">Profil</a></li>
          <li [ngClass]="{active: activeRoute('payment')}" *ngIf="isCanSee('manager','seller','payment')"><a
            [routerLink]="['/preferences/payment']" class="nav-link">Payment</a></li>
          <li [ngClass]="{active: activeRoute('messages')}" *ngIf="isCanSee('manager','seller','messages')" ><a
            [routerLink]="['/preferences/messages']" class="nav-link">Messages</a></li>
          <li [ngClass]="{active: activeRoute('subscription')}" *ngIf="isCanSee('manager','seller','subscription')"><a
            [routerLink]="['/preferences/subscription']" class="nav-link">Subscription</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
