<!-- Main view/routes wrapper-->
<div class="row wrapper border-bottom white-bg page-heading">
  <div id="user-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">User</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <!--<form class="form-edit" #myForm="ngForm" novalidate (ngSubmit)="onAddSubmit(myForm)">-->
            <form #userF="ngForm" novalidate>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" required minlength="4" maxlength="24" pattern="^[a-zA-Z0-9_-\s]+$" name="name"
                      [(ngModel)]="model.name" #name="ngModel">
                    <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                      <div [hidden]="!name.errors.required">
                        Name is required
                      </div>
                      <div [hidden]="!name.errors.minlength">
                        Name must be at least 4 characters long.
                      </div>
                      <div [hidden]="!name.errors.maxlength">
                        Name cannot be more than 24 characters long.
                      </div>
                      <div [hidden]="!name.errors.pattern">
                        Name must contain leters and numbers only.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input type="email" pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' id="email" #email="ngModel" [(ngModel)]="model.email"
                      name="email" class="form-control">
                    <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                      <div [hidden]="!email.errors.pattern">
                        Format is incorrect
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12" *ngIf="createFlag">
                  <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="text" class="form-control" name="password" [(ngModel)]="password" />
                  </div>
                </div>
                <!--<div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">Role</label>
                    <select [(ngModel)]="model.role" name="role" id="role" class="form-control" placeholder="Role">
                        <option value="admin">admin</option>
                        <option value="manager">manager</option>
                        </select>
                  </div>
                </div>-->
                <div class="col-sm-12">
                  <div class="form-group">
                    <button type="button" (click)="onSave(userF)" class="btn btn-success" [disabled]="userF.invalid">Save</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--alert dialog -->
  <div id="confirmation" class="modal fade" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete user</h4>
        </div>
        <div class="modal-body">
          Are you sure that you want to delete the user?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onDelete(userForDelete)">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <!--end alert dialog-->
  <div class="col-lg-10">
    <h2 class="my-3">Users list</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#/dashboards/main-view">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Users list</strong>
      </li>
    </ol>
  </div>

  <div class="col-lg-2">
    <div class="text-center" style="float: right;margin-top: 30px;">
      <a data-toggle="modal" class="btn btn-primary" href="#user-form" (click)="onCreate(userF)">Create User</a>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="input-group">
    <input class="form-control input-sm" name="search" placeholder="Search user" type="text" [(ngModel)]="search">
    <div class="input-group-btn">
      <button class="btn btn-sm btn-primary" type="submit">Search</button>
    </div>
  </div>
  <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
    <thead>
      <tr>
        <th data-toggle="true">Name</th>
        <th data-hide="phone">Email</th>
        <!--<th data-hide="phone">Role</th>-->
        <th data-hide="phone">Can see shops</th>
        <th data-hide="phone">Can see messeges</th>
        <th data-hide="phone">Can see emails</th>
        <th class="text-right" data-sort-ignore="true">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users | likefilter:search;let i=index">
        <td>
          {{u?.name}}
        </td>
        <td>
          {{u?.email}}
        </td>
        <!--<td>
          {{u?.role}}
        </td>-->
        <td>
          <input type="checkbox" value="shops" [checked]="ifChecked(u,'shops')" (change)="onRightChange(u,$event)"/>
        </td>
        <td>
          <input type="checkbox" value="adminmess" [checked]="ifChecked(u,'adminmess')" (change)="onRightChange(u,$event)"/>
        </td>
        <td>
          <input type="checkbox" value="adminmail" [checked]="ifChecked(u,'adminmail')" (change)="onRightChange(u,$event)"/>
        </td>
        <td class="text-right">
          <div class="btn-group">
            <a data-toggle="modal" class="btn btn-sm btn-primary" (click)="onEdit(u)" href="#user-form">Edit</a>
            <a data-toggle="modal" class="btn btn-sm btn-danger" (click)="userForDelete = u" href="#confirmation">Delete</a>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6">
          <ul class="pagination pull-right"></ul>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
