<!-- Main view/routes wrapper-->
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2 class="my-3">Shops list</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#/dashboards/main-view">Home</a>
      </li>
      <li class="breadcrumb-item active" >
        <strong>Shops list</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
    <div class="text-center" style="float: right;margin-top: 30px;">
      <a data-toggle="modal" class="btn btn-primary" href="#create-form">Create shop</a>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <!--create dialog-->
  <div id="create-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create shop</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <form #crFrom="ngForm" novalidate (ngSubmit)="onCreate(crFrom)">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" required minlength="4" maxlength="24"
                           pattern="^[a-zA-Z0-9_-]+$" name="name"
                           [(ngModel)]="model.name" #cname="ngModel">
                    <div *ngIf="cname.errors && (cname.dirty || cname.touched)" class="alert alert-danger">
                      <div [hidden]="!cname.errors.required">
                        Name is required
                      </div>
                      <div [hidden]="!cname.errors.minlength">
                        Name must be at least 4 characters long.
                      </div>
                      <div [hidden]="!cname.errors.maxlength">
                        Name cannot be more than 24 characters long.
                      </div>
                      <div [hidden]="!cname.errors.pattern">
                        Name must contain leters and numbers only.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">Manager</label>
                    <!--[(ngModel)]="createOrderModel.clientName" #name="ngModel"-->
                    <select required name="usrname" id="usrname" [(ngModel)]="model.manager" class="form-control"
                            placeholder="User Name">
                      <option *ngFor="let user of users | async" [ngValue]="{name:user.name,uid:user.$key}">
                        {{user.name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-12">
                  <label class="control-label">Test data</label>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <ui-switch name="testdata" [(ngModel)]="model.testData" color="#18a689"></ui-switch>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <button type="button" (click)="onCreate(crFrom)" class="btn btn-success"
                            [disabled]="crFrom.invalid">Create
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end create dialog-->
  <!--alert dialog -->
  <div id="confirmation" class="modal fade" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete shop</h4>
        </div>
        <div class="modal-body">
          Are you sure that you want to delete the shop?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onDelete(shopForDelete)">Yes
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="input-group">-->
  <!--<input class="form-control input-sm" name="search" placeholder="Search shop" type="text" [(ngModel)]="searchShop">-->
  <!--<div class="input-group-btn">-->
  <!--<button class="btn btn-sm btn-primary" type="submit">Search</button>-->
  <!--</div>-->
  <!--</div>-->
  <!--end alert dialog-->

  <!--shop details dialog-->
  <div id="v-shop" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Shop details</h4>
        </div>
        <div class="modal-body">
          <form class="form-edit" #createOrderForm="ngForm">
            <!--tabs header-->
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#v-shop-act">Activity</a></li>
              <li><a data-toggle="tab" href="#v-shop-logs">Logs</a></li>
            </ul>

            <!--tabs content-->
            <div class="tab-content">
              <div id="v-shop-act" class="tab-pane fade in active">
                <!--<label class=" control-label">Order history:</label>-->
                <br>
                <ul>
                  <li *ngFor="let a of shopActivity">
                    {{a.date | date}} {{a.activity}}
                  </li>
                </ul>
              </div>
              <div id="v-shop-logs" class="tab-pane fade in">
              </div>
            </div>
            <!--end tabs content-->
            <a class="btn btn-danger" (click)="onDeleteBtn(s)">Delete</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--end shop details dialog-->

  <table id="footable" class="table table-stripped toggle-arrow-tiny"
         data-paging-size="20"
         data-sorting="true"
         data-paging="true"
         data-filtering="true"
         data-filter-delay="10"
  >
    <thead>
    <tr>
      <th>Name</th>
      <th>Manager</th>
      <th data-type="number">Products</th>
      <th data-type="number">Clients</th>
      <th data-type="number">Orders</th>
      <th data-hide="phone" class="text-right" data-type="html">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of shops | async;let i=index">
      <td>
        {{s?.name}}
      </td>
      <td>
        {{s?.manager?.name}}
      </td>
      <td>
        {{countKeys(s?.products)}}
      </td>
      <td>
        {{countKeys(s?.clients)}}
      </td>
      <td>
        {{countKeys(s?.orders)}}
      </td>
      <td class="text-right">
        <div class="btn-group">
          <a data-toggle="modal" class="btn btn-sm btn-primary" (click)="onView(s)" href="#v-shop">View</a>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6">
        <ul class="pagination pull-right"></ul>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
